[Desktop Entry]
Encoding=UTF-8
Name=Link to ESP8266 AJAX [SOLVED] - Everything ESP8266
Type=Link
URL=http://www.esp8266.com/viewtopic.php?f=8&t=4307&start=28
Icon=text-html
